.bg-box {
  float: right;
}

.text-box {
  margin: auto;
  width: fit-content;
}

.text-div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 23%;
  font-size: 40px;
}
